// @font-face {
//   font-family: "Roboto";
//   src: url("../fonts/Roboto.ttf");
// }

@import "variables";
@import "scaffolding";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:global {
  section#mapContainer {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  #GeoMapCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    width: 100%;
    height: 100%;
  }

  #GeoMapCSSRenderContainer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}
